
<div class="component bg">
  <!-- <a routerLink="/"><img [src]="myLogo" width="100px" /></a> -->
  <a routerLink="/">Contacts</a>
  <a routerLink="/twoWays">Two ways data binding</a>
  <a routerLink="/obs">Observables</a>
  <a routerLink="/about">A propos</a>
  <a routerLink="/passwords-page">Password</a>
</div>

<nav class="nav-bar">
      <a routerLink="home" routerLinkActive="active"><i class="fas fa-home"></i></a>
      <a routerLink="search" routerLinkActive="active"><i class="fas fa-search"></i></a>
  <div class="bot">
          <a routerLink="contact" routerLinkActive="active"><i class="fas fa-mail-bulk"></i></a>
  </div>
</nav>


