<!-- <div class="component bg">
  <p>Rechercher une personne</p>
  <form [formGroup]="searchForm">
    <mat-form-field appearance="fill">
        <mat-label>Chercher:</mat-label>
        <br/>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
        <input matInput formControlName="search" />
        <br/>
        <div class="results">
          <ng-container *ngFor="let prop of propositions">
              {{ prop.firstName + ' ' + (prop.lastName |uppercase) }}<br/>
          </ng-container>
      </div>
    </mat-form-field>
  </form>
</div> -->
